
.centerFooter{
    width: 1000px;
    display: flex;
    justify-content: center;
    background-color: var(--darker);
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
  }
  
  footer{
    width: 100%;
    font-size: var(--font);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .footerTeam{
    margin-top: 20px;
    width: 60%;
    margin-right: 5%;
  }
  
  .footerTeam > p{
    color: var(--grey);
    margin: 0;
  }
  
  .Team > p {
    color: var(--element);
  }
  
  .ContactUs{
    width: 20%;
    margin-top: 20px;
    border: none;
    color: var(--base);
  }
  
  .ContactUs > p {
    margin-top: 0;
    color: var(--grey);
  }
  
  .Media > img {
    width: var(--font);
    margin-right: 5%;
    margin-bottom: var(--font);
  }
  
  .Media > img:hover{
    cursor: pointer;
  }
  
  @media screen and (max-width: 999px) {
    footer {
      font-size: 3vw;
    }
  }