:root
{
  --base: #ffffff;
  --grey : #999999;
  --blue : #2a3990;
  --softBlue : #7890cd;

  --good : #00ff04;
  --bad : #dc2323;

  --BigTitle : 32px;
  --title : 25px;
  --font : 20px;
}

body {
  /*font-family: 'Pacifico', cursive;*/
  font-family: 'Calibri';
  margin: 0;
  color: var(--blue);
  background-color: var(--base);
}

header {
    /*font-family: 'Permanent Marker', cursive;*/
    color: var(--base);
    background-color: var(--blue);
    z-index: 999;
    top: 0;
    position: sticky;
}

/* Index */

.Presentionindex{
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 999999;
    top: 0;
}

.Presentionindex h1 {
    background: #CA4246;
  background-color: #CA4246;
  background: conic-gradient(
    #CA4246 16.666%, 
    #E16541 16.666%, 
    #E16541 33.333%, 
    #F18F43 33.333%, 
    #F18F43 50%, 
    #8B9862 50%, 
    #8B9862 66.666%, 
    #476098 66.666%, 
    #476098 83.333%, 
    #A7489B 83.333%);
  
  background-size: 57%;
  background-repeat: repeat;
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
    font-size: 13vw; 
    font-weight:700;
  }

  .text-reflect{
    background: #CA4246;
  background-color: #CA4246;
  background: conic-gradient(
    #CA4246 16.666%, 
    #E16541 16.666%, 
    #E16541 33.333%, 
    #F18F43 33.333%, 
    #F18F43 50%, 
    #8B9862 50%, 
    #8B9862 66.666%, 
    #476098 66.666%, 
    #476098 83.333%, 
    #A7489B 83.333%);
  
  background-size: 57%;
  background-repeat: repeat;
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
    font-size: 5vw; 
    font-weight:700;
  }

.Presentionindex.translateYAnimation {
    animation: translateYAnimation 0.8s ease forwards;
}

  @keyframes translateYAnimation {
    0% {
      opacity: 1;
      filter: blur(0px);
    }
    100% {
      filter: blur(12px);
      opacity: 0;
    }
  }
  
.hidden {
    display: none !important;
}

.Content {
    height: 100%;
    width: 100%;
    display: block;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #eee;
}

.ContenttranslateYAnimation2 {
    animation: translateYAnimation2 2s ease forwards;
}

  @keyframes translateYAnimation2 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
.Content > div {
    margin: 2%;
}

.Content > div:first-child {
    height: 300px;
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Content > div:first-child > .Row{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.Content > div:first-child > .Row > .line{
    box-shadow: 0 2px 15px -3px rgba(0,0,0,0.07),0 10px 20px -2px rgba(0,0,0,0.04);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 96%;
    height: 100%;
    border-radius: 25px;
}

.Content > div:first-child > .Row > .line > hr{
    width: 34%;
    background-color: var(--blue);
    height: 2px;
    opacity: 1;
    margin-right: 10%;
    margin-left: 10%;
}

.Content > .TwoRow {
    height: 70%;
    width: 96%;
    display: flex;
}

.Content > .TwoRow > div {
    box-shadow: 0 2px 15px -3px rgba(0,0,0,0.07),0 10px 20px -2px rgba(0,0,0,0.04);
    background-color: white;
    width: 50%;
    border-radius: 25px;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

.Content > .TwoRow > .Edito {
    box-shadow: 0 2px 15px -3px rgba(0,0,0,0.07),0 10px 20px -2px rgba(0,0,0,0.04);
    background-color: var(--blue);
    color: var(--base);
}

.Content > .TwoRow > .Edito > .center {
    height: 50%;
}

img {
    height: 100%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrollable-div {
    width: 100%;
    overflow: auto;
    height: 100%;
}

.inner-div {
    background-color: #f0f0f0;
    margin: 1%;
    width: 98%;
    height: 31%;
}

.svg-wrapper {
    width: 520px;  
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .shape {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -60;
    stroke-width: 8px;
    fill: transparent;
    stroke: #2a3990;
    border-bottom: 5px solid black;
    transition: stroke-width 0.7s, stroke-dashoffset 0.7s, stroke-dasharray 0.7s;
  }
  .text {
    font-family: 'Roboto Condensed';
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 8px;
    color: #2a3990;
    top: -48px;
    position: relative;
    text-align: center;
  }
  .svg-wrapper > svg:hover .shape {
    stroke-width: 5px;
    stroke-dashoffset:500;
    stroke-dasharray: 1660;
  }

  .carouselOpacity{
    opacity: 1 !important;
    transition: all .3s ease-in-out;;
  }

  .carouselOpacity:hover{
    background-color: rgba(255, 255, 255, 0.1);
  }

  #carouselMaterialStyle{
    border: 1px solid black;
    border-radius: 10px;
  }

  .carousel-caption{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  .center > img{
    height: 80% !important;
    }

/* END of Index */

/* 404 */
.glitch-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #000000;
    flex-direction: column;
 }
 
 .glitch {
    position: relative;
    font-size: 6vw;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 3px;
    z-index: 1;
 }
 
 .glitch:before,
 .glitch:after {
    display: block;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
 }
 
 .glitch:before {
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #00FFFF;
    z-index: -1;
 }
 
 .glitch:after {
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #FF00FF;
    z-index: -2;
 }
 
 @keyframes glitch-it {
    0% {
       transform: translate(0);
    }
    20% {
       transform: translate(-2px, 2px);
    }
    40% {
       transform: translate(-2px, -2px);
    }
    60% {
       transform: translate(2px, 2px);
    }
    80% {
       transform: translate(2px, -2px);
    }
    to {
       transform: translate(0);
    }
 }

 .citation{
    background-color: #514b4b;
    color: white;
    border-radius: 25px;
    width: 80%;
    font-size: 2vw;
 }

 .italic{
    font-style: italic;
    font-size: 1.5vw;
 }

 .Button404{
    width: 59%;
    height: 10%;
    margin: 40px;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
 }
 /* END of 404 */

/* listeRecettes */
.banner {
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
}

#ButtonShowMoreRecipe, #CreateRecipeLinkButton{
    width: 49%;
}
/* END of listeRecettes */

/* Admin */
.highMargin
{
    margin-left: 20%;
    margin-right: 20%;
}

.Recipe
{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
}

/* detailRecette */

.CreateByRecipeDetail{
    width: 60%;
    border-radius: 25px;
    background-color: var(--blue);
    color: white;
    margin-top: 25px;
    padding: 2%;
}

.table-dark, .table-dark > td, .table-dark > th {
    background-color: var(--blue) !important;
  }

  tr, thead {
    border: 1px solid var(--blue);
  }

  .formCommentsRecipeDetail > *{
    width: 80%;
  }

  .formCommentsRecipeDetail{
    width: 100%;
  }

  .CommentsDetailRecipe{
    width: 100%;
    margin-top: 20px;
    border-radius: 25px;
    padding: 2%;
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  }

  .CommentsDetailRecipe > *{
    width: 80%;
    color: white;
  }

  .CommentsDetailRecipe > p:first-child{
    font-size: 20px;
}

.CommentsDetailRecipe > p:nth-child(2){
    font-size: 14px;
    font-style: italic;
}

.commentFormDiv{
    margin-bottom: 25px;
}

.CommentValidateButton{
    margin-bottom: 50px;
}

#recipeComment{
    resize: none;
}

.displayFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.RecipeTitle
{
    color: var(--blue);
}

.lineDetailRecipe{
    margin-top: 25px;  
    margin-bottom: 25px;  
    width: 100%;
}

.lineDetailRecipe > hr{
    width: 40%;
    height: 1px;
    background-color: var(--blue);
    opacity: 1;
}

.CreateByRecipeDetailHR1{
    width: 20%;
    height: 1px;
    background-color: var(--blue);
    opacity: 1;
}

.CreateByRecipeDetailHR2{
    width: 40%;
    margin-top: 50px;  
    height: 1px;
    background-color: var(--blue);
    opacity: 1;
}


.line2{
    margin-top: 50px;
}

.RecipeContent
{
    text-align: justify;
}

.imgRecipeDisplay{
    border: 1px solid black;
    height: 32%;
    border-radius: 30px;
    width: 100%;
}
/* END of detailRecette */

/* creationRecette */

.margin-bottom{
    margin-bottom: 1rem !important;
}

#recipeContent{
    resize: none;
}

#addIngredientButton{
    width: inherit;
    height: inherit;
}

#recipeForm > .bg-white > .form-outline{
    margin-bottom: 30px;
}

#recipeForm > .form-outline > input{
    border: 1px solid black;
}

.CreateRecipeTitle{
    margin: 25px;
    font-size: 60px;
}

.CreateRecipeTitleDiv{
    color: var(--blue);
    display: block ruby;
    font-size: 60px;
}

.submitButtonCreationRecipe{
    font-size: 45px;
    border: none !important;
    margin-top: 60px;
}

.h2Recipe{
    margin-top: 60px;
    margin-bottom: 10px;
}

.wrapperFormCreateRecipeTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

i{
    transition: transform 0.3s ease-in-out;
}

#submitButton, #addIngredientButton{
    color: white !important;
}

#addTagsButton{
    color: white;
}

.form-group {
    margin-bottom: 0;
}
  
.TagsDivGlobal{
    display: flex;
    flex-direction: column;
}
  
.Tags{
    display: flex;
}
  
.Tags > * {
    margin: 1%;
    border-radius: 20px;
    height: 40px;
    padding: 0.6%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation : slide-in-top 0.5s normal;
}

.CheckListTags{
    margin-right: 2%;
    color: var(--blue);
    visibility: hidden;
}
  
.SpecialSelect{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    width: 100%;
}
  
.SpecialSelect > .textSpecialSelect:first-child{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    margin: 0;
}
  
.SpecialSelect > .Elements{
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    width: 100%;
    margin-top: 5px;
}
  
.SpecialSelect > .Elements > .Bottom{
    border-top: 1px solid #d4d4d4;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.SpecialSelect > .Elements > .Bottom > .LabelSpecialSelect{
    width: 20%;
}
  
.SpecialSelect > .Elements > .Bottom > .InputSpecialSelect{
    width: 40% !important;
}

.SpecialSelect > .Elements > .Bottom > .ButtonSpecialSelect{
    width: 20%;
    margin-left: 2%;
}
  
.SpecialSelect > .Elements > .DivInputsSpecialSelect{
    padding: 1%;
    border-bottom: 1px solid #d4d4d4;
    border-radius: 10px;
}
  
.SpecialSelect > .Elements > .DivInputsSpecialSelect > .InputSpecialSelect{
    margin-left: 2%;
    width: 70%;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    padding-left: 2%;
}
  
.SpecialSelect > .Elements > .DivInputsSpecialSelect > .LabelSpecialSelect{
    width: 20%;
}
  
.SpecialSelect > .Elements > .TextDiv > .textSpecialSelect{
    margin: 0;
    text-align: left;
    padding-left: 5%;
}
  
.SpecialSelect > .Elements > .TextDiv > .textSpecialSelect:hover{
    background-color: rgb(154, 150, 144);
    cursor: pointer;
}

.stars {
	width: fit-content;
	margin: 0 auto;
	cursor: pointer;
}
.star {
	color: #91a6ff !important;
}
.rate {
	height: 50px;
	margin-left: -5px;
	padding: 5px;
	font-size: 25px;
	position: relative;
	cursor: pointer;
}
.rate input[type="radio"] {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,0%);
	pointer-events: none;
}
.star-over::after {
	font-family: 'Font Awesome 5 Free';
  font-weight: 900;
	font-size: 16px;
	content: "\f005";
	display: inline-block;
	color: #d3dcff;
	z-index: 1;
	position: absolute;
	top: 17px;
	left: 10px;
}

.face {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
    opacity: 0;
    position: absolute;
    width: 150px;
    height: 35px;
    background: #91a6ff;
    border-radius: 5px;
    top: -40px;
    left: 2px;
    transition: 0.2s;
    pointer-events: none;
  color: #fff;
}
.face::before {
	font-family: 'Font Awesome 5 Free';
  font-weight: 900;
	content: "\f0dd";
	display: inline-block;
	color: #91a6ff;
	z-index: 1;
	position: absolute;
	left: 9px;
	bottom: -15px;
}

.rate:hover .face {
	opacity: 1;
}

.SelectIngredient > .col{
    margin-bottom: 20px;
}
/* END of creationRecette */

/* Animation */
.animate-slide-up {
    display: block !important;
    animation: slideUp 0.5s ease-in-out;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        transform: scale(1);
    }
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

@keyframes sautillement {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Ajustez la distance du sautillement verticalement */
    }
}


@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(10%);
                transform: translateY(10%);
                -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
    }
    }
    
    @keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(10%);
                transform: translateY(10%);
        opacity: 0;
    }
    }
    @keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
    }
    }
/* END of Animation */

@media screen and (max-width: 999px) {

    .text-reflect{
        font-size: 20vw;
    }

    .Content > div:first-child > .row2{
        display: none;
    }

    .Content > div:first-child > .Row:first-child > .line{
        width: 100%;
    }

    .Content > div:first-child > .Row {
        width: 100%;
    }

    .Content > .TwoRow {
        flex-direction: column;
    }

    .Content > .TwoRow > .DernieresRecettes {
        order: 1;
    }

    .Content > .TwoRow > div {
        width: 100%;
        height: 50%;
    }

    .container{
        max-width: 100% !important;
        padding: 0 !important;
    }

    .CreateRecipeTitleDiv {
        display: flex;
        font-size: 5vw;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .CreateRecipeTitle {
        font-size: 7vw;
    }

    .SelectIngredient{
        flex-direction: column;
    }

    #submitButton{
        font-size: 7vw;
        margin-bottom: 25px;
    }

    .table {
        margin: 0;
    }
    
    .table th,
    .table td {
        padding: 3px;
        font-size: 2vw;
    }

    #buttonDelete1{
        font-size: 2vw;
        padding: 5px;
    }
}

@media screen and (max-width: 550px) {

    .svg-wrapper > svg{
        display: none;
    }
    
    .text {
        top: 0;
        margin-bottom: 20px;
        font-size: 6vw;
        letter-spacing: 5px;
        line-height: 25px;
    }

    .card-body {
        padding: 0 !important;
    }

    .center > img{
        width: 80%;
    }

    .DernieresRecettes > .svg-wrapper > .text{
        font-size: 4vw;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    #carouselMaterialStyle {
        margin-bottom: 10px;
    }
}

/* POPUP */
.ov{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
    transition: opacity 0.4s 0.2s ease-out;
}

.popup{
    opacity: 0;
    width: 95%;
    max-width: 600px;
    min-width: 30px;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 50px));
    transition: opacity 0.4s ease-out,
    transform 0.4s ease-out;
}


.close-modal{
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: var(--blue);
    color: #fff;
}

.popup h1{
    margin-bottom: 10px;
    font-weight: 500;
}

.popup p{
    list-style: none;
    line-height: 1.4;
    margin-bottom: 16px;
}

/* modal category */
.modalContainerCategory{
    z-index: 99;
    visibility: hidden;
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    transition: visibility 0.4s ;
}

.modalContainerCategory.active{
    visibility: visible;
}

.modalContainerCategory.active .popup {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0.2s ease-out,
    transform 0.4s 0.2s ease-out;
}

.modalContainerCategory.active .ov {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.searchButtonCatIng{
    background: transparent;
    border: 0;
    outline: 0;
}

/* modal title */
.modalContainerTitle{
    z-index: 99;
    visibility: hidden;
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    transition: visibility 0.4s ;
}

.modalContainerTitle.active{
    visibility: visible;
}

.modalContainerTitle.active .popup {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0.2s ease-out,
    transform 0.4s 0.2s ease-out;
}

.modalContainerTitle.active .ov {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

/* modal ingredient */
.modalContainerIngredient{
    z-index: 99;
    visibility: hidden;
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    transition: visibility 0.4s ;
}

.modalContainerIngredient.active{
    visibility: visible;
}

.modalContainerIngredient.active .popup {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0.2s ease-out,
    transform 0.4s 0.2s ease-out;
}

.modalContainerIngredient.active .ov {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

/* END POPUP */

/* saerchBar */

.searchBox{
    border-radius:  5px;
    background: #f0f0f0;   
}

.row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.autocomplete{
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}

.searchButton{
    background: transparent;
    border: 0;
    border-top: 2px solid #000000;
    outline: 0;
    width: 100%;
    height: 100%;
}

.searchButton .fa-solid{
    width: 25px;
    color: #555;
    font-size: 22px;
    cursor: pointer;
}

.resultBox ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
    color: #000000;
}

.resultBox ul li{ 
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.resultBox ul li:hover{ 
    background: var(--blue);
    color: #fff ;
}

.resultBox {
    max-height: 300px;
    overflow-y:scroll ;
}
/* END saerchBar */


/* ingredient filter input */

.selectDiv {
  background-color: #f0f0f0;
  box-sizing: border-box;
}

.select-box {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 10px;
  margin: 0 auto;
  border-radius:  5px;
  border-color: var(--blue);
  color: #60666d;
}

.select-box option{
  padding: 5px;
  color: var(--blue);
}

.select-box option:hover {
  color: var(--base);
  background-color: var(--blue);
  transition: 0.3s;
}

  /* END ingredient filter input */